<div class="posts">
	<div class="container" id="post-header">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-light">{{data.post.title}}</h2>
			</div>
		</div>
	</div>
	<div class="container" id="post-content">
		<div class="row">
			        <div class="col-sm-8" style="margin: auto">
          <h2 class="title text-left">
			{{{categoryList data.post.categories prefix="Posted in "}}}
			{{#if author.name.first}}by {{author.name.first}}{{/if}}
		  </h2>
          <br></br>
            {{{data.post.content.extended}}}
			<br></br>
			<p><a href="/blog">&larr; back to events</a></p>
        </div>
        <div class="col-sm-4 text-left" style="margin: auto">
			{{#if data.post.image}}
			<h3>{{{data.post.title}}}</h3>
			{{/if}}
          <br></br>
		  {{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="card-img-top ">{{/if}}
        </div>
		</div>
	</div>
</div>