<div class="notice-board">
    <div class="container" id="notice-header">
        <div class="row">
            <div class="col-sm-8">
                <h2>NOTICE BOARD</h2>
                <hr style="border-bottom: 3px double lightcoral; border-radius: 10px"></hr>
                <br>
                <p>You will be able to make posts in various categories when you create the post. This way, you can put new tournaments, lesson times or results up and it's all in one place. It is not currently possible to add a pdf but if you want to, you can link to your Google Drive.
                    <br>
                </p>
                <p>Use the category selector to choose which category you want to view.
                </p>
            </div>
			<div class="col-sm-4" >
                <div class="container" style="border: 1px double white; border-radius: 3px" id="notice-categories">
                    <br>
                    <h4 class="text-center">CATEGORIES</h4>
                    <div class="list-group text-center" style="font-size: 16px">

                        <a href="" id="active" style="color: lightcoral !important">All Categories</a>
                        <br style="border-bottom: solid 3px lightseagreen !important"> {{# each data.categories }}
                        <a href="{{categoryUrl key}}" href="#notice-posts" class="false">{{name}}</a>
                        {{/each}}
                        <br>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="container" id="notice-content">
        <div class="row">
            <div class="col-sm-7" id="notice-posts">
				{{#if categoryList}}
				<h3> {{{categoryList data.post.categories prefix="Posted in "}}} .</h3>
				{{/if}}
            
                <h3>Showing {{ data.posts.results.length}} posts.</h3>
                <br>
                <hr style="border-bottom: 4px lightseagreen double"></hr>
                <br> {{# each data.posts.results}}
                <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
                    <h2>
                        <a href="{{postUrl slug}}">{{{title}}}</a>
                    </h2>
                    <h5>Published {{_.publishedDate.format "D MMMM YYYY"}}</h5>
                    <p class="">{{{categoryList categories prefix="Posted in "}}} {{#if author.name.first}}by {{author.name.first}} {{/if}}

                    </p>
                    {{#if image}}
                    <img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
                    <p>{{{content.brief}}}</p>
                    {{#if content.extended}}
                    <p class="read-more">
                        <a href="{{postUrl slug}}">Read more...</a>
                    </p>{{/if}}
                    <hr style="border-bottom: 1px lightseagreen double"></hr>
                </div>
                {{/each}}
            </div>
			<div class="col-sm-1">

			</div>

            <div class="col-sm-4" >
{{!--                 <div class="container" style="border: 1px double white; border-radius: 7px" id="notice-categories">
                    <br>
                    <h4 class="text-center">CATEGORIES</h4>
                    <div class="list-group text-center" style="font-size: 16px">

                        <a href="" id="active" style="color: lightcoral !important">All Categories</a>
                        <br> 
						{{# each data.categories }}
                        <a href="{{categoryUrl key}}" href="#notice-posts" class="false">{{name}}</a>
                        {{/each}}
                        <br>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}

