{{!< default}}
<div class="">
<div class="hero" style="background: url('https://images.unsplash.com/photo-1513159446162-54eb8bdaa79b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=afeb5d54d5a2e04cb0da179c696bf009&auto=format&fit=crop&w=1950&q=80'); background-size: cover; background-position: center center">
    <div class="row">
        <div class="container title text-left" style="margin-top: 15rem; margin-bottom: 13rem" id="blogHeader">
        	<h1 class="" style="" >NOTICE BOARD</h1>
        </div>
    </div>
	<hr style="border-bottom: 3px double lightcoral;">
</div>
<div class="container" id="blogContent">
	<div class="row">
		<div class="col-sm-8 col-md-9 px-3" id="">
			<div class="container">
				<h3 class="text-weight-normal">Showing {{ data.posts.results.length}} posts.</h3>
				<br>
				<hr style="border-bottom: 4px lightcoral double"></hr>
				<br>
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
					<hr style="border-bottom: 1px lightcoral double"></hr>
				</div>
				{{/each}}
			</div>
		</div>
		
		<div class="col-sm-4 col-md-3 text-center" style="" >
			<div class="container" style="border: 1px double lightcoral; border-radius: 1px">
				<br>
			<h2>CATEGORIES</h2>
			<div class="list-group text-center" style="font-size: 16px">
				
				<a href="/blog" id="active" style="">All Categories</a>
				<br style="border-bottom: solid 3px lightseagreen !important">
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false">{{name}}</a>
				{{/each}}
				<br>
				</div>
			</div>
			

			{{!-- <div class="btn-group btn-group-vertical btn-group-toggle" data-toggle="buttons" id="blogButtons">
				<label class="btn active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>
					<a href="/blog" class="">All Categories</a>
				</label>
				<br style="border-bottom: double lightcoral 3px;">
				{{# each data.categories }}
				<label class="btn">
					<input type="radio" name="options" id="option2" autocomplete="off">
					<a href="{{categoryUrl key}}" class="">{{name}}</a>
					</label>
				{{/each}}
			</div> --}}
		</div>
	</div>
	{{>pagination}}
</div>
</div>

{{!-- <div id="eventsMain">
<div class="container" id="eventsContent">
<div class="container" id="eventsHeader">
	<h1>Upcoming Events</h1>
</div>
<div class="container" id="">
	<div class="row">
		<div class="col-sm-8 col-md-9" id="">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="container">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
</div>
</div> --}}


